body{
        overflow-x: hidden;
    }

    *{
    box-sizing: border-box;
font-family: "Epilogue", sans-serif;
margin: 0;
/* overflow: hidden; */
 /* outline: 1px solid red; */
}

#heroTitle{
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    letter-spacing: 3px;
}

#heroSubTitle{
    font-weight: 800;
    font-size: 72px;
    line-height: 80px;
    letter-spacing: -2px;
    z-index: 1;
    position: relative;
}

#heroText{
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    letter-spacing: 0px;
    color:rgba(255, 255, 255, 0.64);
}

#hero-btn1{
    font-weight: 900;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0px;
}

#hero-btn2{
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    letter-spacing: 0px;
}

#starimg{
    top: 10px;
    left: 275px;
}
